<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Assignment Page')}"></head>
<body class="d-flex">
<div th:replace="~{fragments/layout :: navbar}"></div>
<main class="p-4 flex-grow-1">
    <h1>Assignment page</h1>
    <h1 th:text="${'Task: ' + task.getTaskName()}"></h1>
    <form action="#" th:action="@{/assignment}" th:object="${assignment}" method="post">
        <div class="container">
            <input type="hidden" name="taskId" th:value="${task.getTaskID()}">
            <label for="employee-select">Select employee:</label>
            <select name="employeeId" id="employee-select">
                <option value="">--Please choose an option--</option>
                <option th:each="employee: ${session.employees}" th:value="${employee.getEmployeeID()}" th:text="${employee.getEmployeeName() + ' ' + employee.getSkillsAsString()}"></option>
            </select>
            <label for="completionDate">Start date of project</label>
            <input type="date" id="completionDate" th:field="*{completionDate}">
            <label for="timeSpent">Time spent</label>
            <input type="number" id="timeSpent" th:field="*{timeSpent}">
        </div>
        <hr>
        <button type="submit" class="submit-btn">Assign employee</button>
        <button type ="reset" class="cancel-btn">
            <a th:href="@{/readProjectInfo/{projectID}/tasks(projectID=${session.project.getId()})}">Go back to tasks</a>
        </button>
    </form>
</main>
</body>
</html>