<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Error page')}"></head>
<body class="d-flex">
<nav th:replace="~{fragments/layout :: navbar}"></nav>


<main class="p-4 flex-grow-1">


    <div class="container card p-4 text-bg-light">
        <h1>Create new task</h1>
        <p class="text-muted">Fill out the fields below to create a task.</p>
        <div class="error-box" th:if="${errorMessage}">
        <p>Placeholder error message: </p>
        <p th:text="${errorMessage}"></p>
                                        </div>

    <form action="#" th:action="@{/create/task/{subProjectID}(subProjectID=${subProjectID})}" th:object="${task}" method="post">
        <label class="form-label" for="taskName"><b>Task name</b></label>
            <input type="text" th:field="*{taskName}" id="taskName" class="form-control">
        <br>
        <label class="form-label" for="workload"><b>Workload</b></label>
        <input class="form-control"  type="number" th:field="*{workload}" id="workload">


        <button class="btn btn-primary mt-3" type="submit">Add task</button>
        <a class="btn btn-secondary mt-3" th:href="@{/}">Cancel</a>
    </form>
</div>
</main>

</body>
</html>