<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee page</title>
    <link th:rel="stylesheet" th:href="@{/css/edit-employee.css}">
</head>
<body>
<h1>Employee table </h1>

<form action="#" th:action="@{/employee/update}" th:object="${employee}" method="post">
<div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <input type="hidden" th:field="*{employeeId}">

    <label for="name"><b>Employee Name</b></label>
        <input type="text"  th:field="${employee.name}" id="name" required>

        <label for="hourly_rate"><b>Hourly rate</b></label>
        <input th:field="*{hourlyRate}" type="number"  id="hourly_rate" required>
        <br>
        <br>
    <div th:each="skill : ${skills}">
        <label>
            <!--            I use the #lists expression on line 31 from thymeleaf here to use the contains method-->
            <input type="checkbox"
                   th:value="${skill}"
                   name="skills" 
                   th:checked="${employee.getSkills() != null && #lists.contains(employee.getSkills(), skill)}"/>
        </label>
        <label th:text="${skill}"></label>
    </div>
    </div>
    <hr>

    <button type="submit" class="submit-btn">Edit employee</button>
    <button type ="reset" class="cancel-btn">
        <a th:href="@{/employees}">Cancel</a>
    </button>
</form>

</body>
</html>