<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Home page')}"></head>
<body class="d-flex">
<div th:replace="~{fragments/layout :: navbar}"></div>

<main class="p-4 flex-grow-1">
    <div class="card container">
    <h1>Welcome to the project calculation tool page</h1>
        <hr>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></p>
        <table class="table">
        <tr>
            <th>Project name</th>
            <th>Start date</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
        <tr th:each="project: ${projects}">
            <td th:text="${project.getName()}"></td>
            <td th:text="${project.getStartdate()}"></td>
            <td th:text="${project.getDeadline()}"></td>
            <td>
                <form action="#" th:action="@{/delete/project}" method="post">
                    <input type="hidden" name="projectId" th:value="${project.getId()}"/>
                    <button type="submit" class="btn btn-danger">Delete project</button>
                </form>
                <a class="btn btn-primary" th:href="@{/readProjectInfo/{projectID}(projectID=${project.getId()})}">View project</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/addProject}" class="btn btn-success btn-sm mt-3">Create project</a>
    </div>
</main>
</body>
</html>