<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Home page')}"></head>
<body class="d-flex">
<div th:replace="~{fragments/layout :: navbar}"></div>

<main class="p-4 flex-grow-1">
    <h1>Welcome to the project calculation tool page</h1>
    <table>
        <tr>
            <th>Project name</th>
            <th>Start date</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
        <tr th:each="project: ${projects}">
            <td th:text="${project.getName()}"></td>
            <td th:text="${project.getStartdate()}"></td>
            <td th:text="${project.getDeadline()}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/readProjectInfo/{projectID}(projectID=${project.getId()})}">Go to project</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/addProject}" class="btn btn-success btn-sm mt-3">Create project</a>

</main>
</body>
</html>