<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Show Project Page')}"></head>
<body class="d-flex">
<div th:replace="~{fragments/layout :: navbar}"></div>
<main class="p-4 flex-grow-1">
    <h1>Project page</h1>
    <table>
        <tr>
            <th>Estimated Price(DKK)</th>
            <th>Assigned workload (H)</th>
            <th>Required workload (H)</th>
        </tr>
        <tr>
            <td th:text="${#numbers.formatDecimal(session.project.getEstimatedPrice(), 1, 0)}"></td>
            <td th:text="${session.project.getTotalAssignedWorkload()}"></td>
            <td th:text="${session.project.getTotalRequiredWorkload()}"></td>
        </tr>
    </table>
    <h2 th:text="${session.project.getName()}"></h2>
    <table>
        <tr>
            <th>Sub project</th>
            <th>Deadline</th>
            <th>Current tasks</th>
            <th>Actions</th>
        </tr>
        <tr th:each="subproject: ${session.project.getSubProjects()}">
            <td th:text="${subproject.getSubProjectName()}"></td>
            <td th:text="${subproject.getSubProjectDeadline()}"></td>
            <td th:text="${subproject.getTasksAsString()}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/readProjectInfo/{subProjectID}/tasks(subProjectID=${subproject.getSubProjectID()})}">View tasks</a>
                <form action="#" th:action="@{/delete/subproject/{subProjectID}(subProjectID=${subproject.getSubProjectID()})}" th:object="${subproject}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm mt-3" th:href="@{/}">Delete subproject</button>
                </form>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary btn-sm mt-3" th:href="@{/addSubProject}">Create subproject</a>
    <a class="btn btn-secondary btn-sm mt-3" th:href="@{/}">Go back</a>
</main>
</body>
</html>