<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Show Tasks Page')}"></head>
<body class="d-flex">
<div th:replace="~{fragments/layout :: navbar}"></div>
<main class="p-4 flex-grow-1">
  <h1 th:text="${session.project.getName()}"></h1>
  <table>
    <tr>
      <th>Task name</th>
      <th>Workload</th>
    </tr>
    <tr th:each="task: ${tasks}">
      <td th:text="${task.getTaskName()}"></td>
      <td th:text="${task.getWorkload()}"></td>
<!--      <td>-->
<!--        <a th:href="@{/readProjectInfo/{projectID}(projectID=${project.getId()})}">Go to project</a>-->
<!--      </td>-->

    </tr>
  </table>
</main>


</main>
</body>
</html>